.datePickerInput {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #ffffff02;
  color: #fff;
  border: 1px solid #ffffff10;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.datePickerInput:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.calendar {
  background: linear-gradient(90deg, rgba(41, 41, 41, 0.753) 0%, rgba(255, 255, 255, 0.171) 100%);
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff10;
  color: #fff;
  border-radius: 20px;
  overflow: hidden !important;
}

.calendar :global(.react-datepicker__header) {
  background-color: #ffffff02 !important;
  border: none;
  border-bottom: 1px solid #ffffff10 !important;
}

.calendar :global(.react-datepicker__current-month),
.calendar :global(.react-datepicker__day-name) {
  color: #fff !important;
}

.calendar :global(.react-datepicker__day) {
  color: #ccc !important;
}

.calendar :global(.react-datepicker__day:hover) {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
  color: #fff !important;
}

.calendar :global(.react-datepicker__day--selected),
.calendar :global(.react-datepicker__day--keyboard-selected) {
  background-color: #ffffff20 !important;
  color: #fff !important;
}

.calendar :global(.react-datepicker__time-container) {
  border-left: 1px solid #ffffff10 !important; /* Граница слева */
  width: 85px;
}

.calendar :global(.react-datepicker-time__header) {
  color: #fff !important;
}

.calendar :global(.react-datepicker__time-header) {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff10 !important;
}

.calendar :global(.react-datepicker__time) {
  background: #ffffff02;
}

.calendar :global(.react-datepicker__time-list) {
  -ms-overflow-style: none;  /* для Internet Explorer и Edge */
  scrollbar-width: none;     /* для Firefox */
}

.calendar :global(.react-datepicker__time-list::-webkit-scrollbar) {
  display: none;             /* для Chrome, Safari и Opera */
}

.calendar :global(.react-datepicker__time-list-item) {
  color: #fff !important;
}

.calendar :global(.react-datepicker__time-list-item:hover) {
  background-color: #ffffff20 !important;
}

.calendar :global(.react-datepicker__time-list-item--selected) {
  background-color: #3b82f6 !important;
  color: #fff !important;
}

.popper {
  z-index: 1000;
}

.wrapper {
  width: 100%;
}

.day {
  /* если нужны дополнительные стили для ячеек дней */
}