.page {
  min-height: 100vh;
  background-image: url('/images/background.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.emptyMessage {
  text-align: center;
  padding: 2.5rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2rem;
}

.loadingContainer {
  min-height: 100vh;
  background-color: #000000;
}

.loadingContent {
  padding-bottom: 4rem;
}

.loadingInner {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

.loadingInner p {
  text-align: center;
  padding: 2.5rem 0;
}

.headerFixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.dayGroup {}

.dayHeader {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0.5;
  color: white;
  padding: 0.5rem;
  text-transform: capitalize;
}

.dayGroup > div:not(.dayHeader) {
  margin-bottom: 2rem;
}

.dayGroup > div:not(.dayHeader):last-child {
  margin-bottom: 0;
}

.loader {
  text-align: center;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.statsRowPosts,
.statsRowTasks {
  display: flex;
  align-items: center;
  height: 27px;
  color: #ffffff;
  padding: 8px 10px;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
  border: 1px solid #ffffff10;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  background-color: transparent;
}

.statsRowPosts.active,
.statsRowTasks.active {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.filterWrapper {
  min-height: 60px;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 32px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  z-index: 10;
  flex-wrap: wrap;
}

.filterWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  backdrop-filter: blur(20px);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.filterButton {
  display: flex;
  align-items: center;
  height: 27px;
  padding: 8px 10px;
  font-size: 16px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
  transition: background-color 0.2s, color 0.2s;
  border: 1px solid #ffffff10;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}

.filterButtonActive {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.filterButtonInactive {
  background-color: #ffffff02;
}